:root{
  --bg-clr-1:#fff;
  --bg-clr-2:rgb(244 248 255);
  --main-clr-1: rgb(50,130,222);
  --main-clr-2:rgb(156 ,202, 255, 50%);
  --t-clr-1:black;
  --t-clr-2:rgba(0, 0, 0, 0.5);
  --color-9:red;
  
  --main-transition: 0.3s ease-in-out;
  --box-shadow-main :8px -20px 20px 0px rgb(0 0 0 / 13%), 
                    11px 20px 4px 0px rgb(0 0 0 / 12%);
  --box-shadow-sec :8px -20px 20px 0px rgb(201 201 201 / 13%), 
                    0px 1px 4px 0px rgb(0 0 0 / 12%);
  --font-family-main:'Courier New', Courier, monospace;
  --font-family-sec:'emoji';
  
  /*Ul-select List colors*/
  --color-black: hsl(0, 0%, 10%);
  --color-darks: hsl(0, 0%, 20%);
  --color-greys: hsl(0, 0%, 80%);
  --color-light: hsl(0, 0%, 96%);
  --color-white: hsl(0, 0%, 100%);
  --color-blues: hsl(217, 91%, 60%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
  0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium:0 4px 6px -1px rgba(0, 0, 0, 0.1),
                  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                  0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
:root.dark {
  --bg-clr-1: rgb(1 4 16);
  --bg-clr-2: rgb(1 4 10);
  --main-clr-1: rgb(50, 130, 222);
  --main-clr-2: rgb(50 130 222);
  --t-clr-1: #ffffff;
  --t-clr-2: rgba(0, 0, 0, 0.5);
  --color-9: red;
  --box-shadow-main :0;
  --box-shadow-sec :0;
}
body {
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
  -ms-overflow-style: none;  
  scrollbar-width: thin;
  scrollbar-color: var(--main-clr-2) #ee0c0c00;
}
input{
    outline: 0 !important;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
a{text-decoration: none;}

input{overflow: hidden;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="text"],
input[type="search"],
input[type="password"],
textarea,
select{
    border-radius: 10px !important;
    background-color: transparent !important;
}
button{
  outline: transparent;
  border-color: transparent;
}
button:focus,
button:hover{
  outline: transparent;
  border-color: transparent;
}
/*===========================================*/
/* -------------- Force Override APEX Styles */
/* Global Elements & Inputs*/
.t-Footer{
  display: none;
}
.t-Header{
  display: none;
}
.t-Body-contentInner{
  margin: 0;
  padding: 0;
}
form#wwvFlowForm{
  min-height: auto;
}
button[type="button"].a-Button.a-Button--calendar{
    display: none;
}
.apex-item-text.apex-item-datepicker{
    border-radius: 10px;
}
.apex-item-comboselect.apex-item-comboselect--separated{
    border-radius: 10px !important;
    background-color: transparent !important;
}
.selectlist.apex-item-select{
  cursor: pointer;
  color: var(--t-clr-1);
} 
.selectlist.apex-item-select option {
  padding: 10px 16px;
  color: var(--t-clr-1);
  background: var(--bg-clr-1);  
  cursor: pointer;
}
/* Confirm Message Model */
.ui-dialog.ui-front{
  background-color: inherit;
  color: inherit;
}
/* ---------- Model Pages D */
.t-Drawer-bodyWrapperIn, .t-Drawer-body{
  background-color: var(--bg-clr-1);
}
.t-Dialog-bodyWrapperOut,
.t-ButtonRegion{
  background: var(--bg-clr-1);
}
/* Form Headers And Footers */
.ui-dialog.t-Drawer--pullOutEnd{
  background:var(--bg-clr-1);
}
.ui-dialog-titlebar{
  background: var(--bg-clr-1);
  color: var(--t-clr-1);
}
/* From Close Buttons */
.ui-dialog-titlebar button,
.ui-dialog-titlebar button:focus{
  background: red;
  color: white;
  outline: transparent;
  border-radius: 50%;
}
/* Form Inputs */
.t-Form-fieldContainer,
.t-Form-fieldContainer textarea,
.t-Form-fieldContainer input{
  background:var(--bg-clr-1) ;
  color: var(--t-clr-1) ;
  outline: var(--main-clr-2);
}
.t-Form-fieldContainer input:focus,
.t-Form-fieldContainer textarea:focus,
.t-Form-fieldContainer select:focus{
    color: var(--t-clr-1) ;
    outline: var(--main-clr-1);
    border: 1px solid var(--main-clr-1);
}
.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--textarea:focus-within .t-Form-label:before {
    background-color: inherit;
}
.t-Form-fieldContainer .t-Form-label,
.t-Form-fieldContainer .t-Form-labelContainer{
  color: var(--t-clr-1);
}
.a-FileDrop-icon span{
  color: var(--t-clr-1);
}

.a-ComboSelect-item{
  background: var(--bg-clr-1);
  color: var(--t-clr-1);
}
.a-ComboSelect-item.is-selected{
  color: var(--bg-clr-1);
  background: var(--main-clr-1);
}
/* -------------- Interactive Grid */
.a-IRR{
  outline-color: transparent;
  background: var(--bg-clr-1);
  border-color: transparent;
}

.a-IRR-toolbar{
  background: transparent;
  text-wrap: nowrap;
  border-color: transparent;
}
.a-IRR-header{
  background: var(--bg-clr-2);
  text-wrap: nowrap;
  border-color: transparent;
}
.a-IRR-header:hover{
  background: var(--bg-clr-2);
}
.a-IRR-header.is-active{
  background: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.a-IRR-header a{
  color: var(--t-clr-1);
}
.a-IRR-reportView{
  background: var(--bg-clr-1);
}
.a-IRR-table tbody tr:nth-child(odd){
  background-color:var(--bg-clr-2);
  color: var(--t-clr-1);
}
.a-IRR-table tbody tr:nth-child(even){
  background-color:transparent;
  color: var(--t-clr-1);
}
.a-IRR-table tr{
  text-wrap: nowrap;
}
.a-IRR-table td{
  border-color: transparent;
  border-style: solid;
}

.a-IRR-tableContainer{
  scrollbar-width: thin;
  scrollbar-color: var(--main-clr-2) #ee0c0c00;
}
.a-GV-row.is-hover, 
.a-IRR-table tr:hover td {
    background-color: inherit;
}
.a-IRR-sortWidget{
  background: var(--bg-clr-1);
  color: var(--t-clr-1);
}
.a-IRR-sortWidget .a-IRR-sortWidget-actions .a-IRR-sortWidget-actions-item button{
    background: var(--bg-clr-1);
    color: var(--t-clr-1);
}
.a-IRR-sortWidget-search input{
  outline: var(--main-clr-1);
  color: var(--t-clr-1);
}
.a-IRR-sortWidget-search > .a-IRR-sortWidget-searchField[type="text"]{
  color: var(--t-clr-1);
}
.a-IRR-search{
  border: 1px solid var(--main-clr-2);
  border-radius: 10px;
}
.a-IRR-search .a-IRR-colSelector{
  z-index: 1;
}
.a-IRR-actions button,
.a-IRR-search button{
  background: var(--bg-clr-1);
  color: var(--t-clr-1);
}
.a-IRR-search-field,
.a-IRR-search-field:focus{
  border-color: transparent;
  color: var(--t-clr-1);
}
.a-IRR-paginationWrap--bottom{
  border-color: transparent;
}
.t-Dialog-bodyWrapperIn{
  overflow: hidden;
}
.t-fht-tbody{
  max-height: 80vh;
}
.a-IRR-pagination-item button{
  background: var(--main-clr-1);
  color: var(--bg-clr-1);
}
.dark .a-IRR-pagination-item button{
  color: var(--t-clr-1);
}

.u-Form-inputContainer select{
  color: var(--t-clr-1);
}
.a-IRR-radioIconList-item label{
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.u-Form-inputContainer select,
.u-Form-inputContainer select option{
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.a-IRR-dialogRow--header, .a-IRR-dialogList a {
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.u-Form-inputContainer textarea,
.u-Form-inputContainer input{
  color: var(--t-clr-1);
}
.u-Form-inputContainer input:not([type=checkbox]):not([type=radio]),
.u-Form-inputContainer select,
.u-Form-inputContainer textarea {
 color: var(--t-clr-1);
}
.a-Menu-content {
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.a-Menu-item.is-expanded .a-Menu-inner span{
  background-color: var(--bg-clr-2);
  color: var(--main-clr-1);
}
.a-Menu-content .a-Menu-inner{
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}

.a-DatePicker-header{
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.u-Form-inputContainer .a-Button,
.a-IRR-col-values-drop,
.a-IRR-col-values-drop .a-IRR-col-value,
.a-DatePicker-monthPicker,
.a-DatePicker-calendarContainer .a-DatePicker-calendar thead tr th,
.a-DatePicker-calendarContainer, 
.a-DatePicker-footer,
.a-DatePicker select,
.a-DatePicker select option{
  background-color: var(--bg-clr-2);
  color: var(--t-clr-1);
}
.a-DatePicker-calendarContainer .is-current span{
  background-color: var(--main-clr-1);
  border-color: var(--main-clr-1);
  color: var(--t-clr-1);
}
.a-Button.a-DatePicker-nav span{
  color: var(--t-clr-1);
}
/*---------------Region Tabs Type*/
.t-Tabs {
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  color: var(--t-clr-1);
}
.t-Tabs-link{
  color: var(--t-clr-1);
  padding: 5px 10px;
  border-radius: 10px;
}
.t-Tabs-item{
  padding: 10px;
}

.t-Tabs-item.is-active a{
  background: var(--main-clr-1);
  color: var(--bg-clr-1);
}
.t-Tabs-link:before{
  display: none;
}
/*/========== Button Styling ============/*/
.apply-btn{
  background: var(--main-clr-1);
  color: var(--bg-clr-1);
  border-color:transparent;
  outline-color: transparent;
}
.apply-btn:hover{
  transform: translateY(-1px);
  background: var(--bg-clr-1);
  border: 1px solid var(--main-clr-1);
  color: var(--main-clr-1);
  outline-color: transparent;
}
.delete-btn{
  background-color: transparent;
  border: 1px solid red;
  color:red;
  outline-color: transparent;
}
.delete-btn:hover{
  background-color: red;
  /* border-color:red; */
  color:white;
  border: 1px solid red;
}

.hover-btn, .hover-brdr-btn, .click-btn{transition: var(--main-transition);cursor: pointer;}
.hover-btn:hover{background-color: var(--main-clr-2); }
.hover-brdr-btn{border: 1px solid transparent;}
.hover-brdr-btn:hover{border:1px solid var(--main-clr-1);}
.click-btn:active{transform: scale(0.90)}

.btn-style,
.btn-style-wa,
.btn-style-brdr{
  outline: 0;
  width: 150px;
  padding: 13px;
  border-radius: 10px;
  font-weight: 600;
  animation: bounce2 0.6s;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-style-wa{
  width: auto;
  padding: 7px 10px;
}
.btn-style,
.btn-style-wa{
  border: 1px solid transparent;
  background: var(--main-clr-1);
  color: var(--bg-clr-1);
}
.btn-style-brdr{
  border: 1px solid var(--main-clr-1);
  background: transparent;
  color: var(--main-clr-1);
}
.dark .btn-style,
.dark .btn-style-wa{
  color: var(--t-clr-1);
}
.dark .selected-invoice .t-clr-5{
  color: var(--t-clr-1);
}
.btn-style:hover,
.btn-style-wa:hover{
  transform: translateY(-1px);
  background: var(--bg-clr-1);
  border: 1px solid var(--main-clr-1);
  color: var(--main-clr-1);
}
.btn-style-brdr:hover{
  transform: translateY(-1px);
  background: var(--main-clr-1);
  border: 1px solid transparent;
  color:  var(--bg-clr-1);
}
.dark .btn-style-brdr:hover{
  color:  var(--t-clr-1);
}
.btn-style:active ,
.btn-style-wa:active ,
.btn-style-brdr:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.card-item{
  padding: 30px;
  border-radius: 10px;
  background: var(--bg-clr-1);
  box-shadow: var(--box-shadow-sec);
  color: var(--t-clr-1);
  display: flex;
  gap: 10px;
  font-size: 25px;
  font-weight: bold;
}
/*/========== Classes ============/*/
/*----Place Item in the middle of Parent ---*/
.item-c{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer; 
    z-index: 1;
    font-size: 25px;
    color: var(--main-clr-1);
}
/*/========== Background Colors ============/*/
.bg-clr-1{background-color: var(--bg-clr-2);}
.bg-clr-3{background-color: var(--bg-clr-1);}
.bg-clr-4{background-color: var(--main-clr-2)}
.bg-clr-5{background-color: var(--main-clr-1);}
.bg-clr-7{background-color: var(--t-clr-1);}
.bg-clr-8{background-color: var(--t-clr-2);}
.bg-clr-9{background-color: var(--color-9);}

/*/========== Hover ============/*/
.hover-clr-1:hover{background-color: var(--main-clr-1); color: var(--bg-clr-1);}
.hover-clr-2:hover{background-color: var(--); color: var(--);}
.hover-clr-3:hover{background-color: var(--); color: var(--);}
.hover-clr-4:hover{background-color: var(--); color: var(--);}
.hover-clr-5:hover{background-color: var(--); color: var(--);}
.hover-clr-6:hover{background-color: var(--); color: var(--);}
.hover-clr-7:hover{background-color: var(--); color: var(--);}

/*/========== Text Style ============/*/
.t-clr-1{color: var(--bg-clr-2);}
.t-clr-3{color: var(--bg-clr-1);}
.t-clr-4{color: var(--main-clr-2);}
.t-clr-5{color: var(--main-clr-1);}
.t-clr-7{color: var(--t-clr-1);}
.t-clr-8{color: var(--t-clr-2);}
.t-clr-9{color: var(--color-9);}

.t-algn-c{text-align: center;}
.t-algn-l{text-align: left;}
.t-algn-r{text-align: right;}
.t-nwrap{text-wrap: nowrap;}
.t-wrap{text-wrap: wrap;}
.t-bold{font-weight: bold;}
.t-normal{font-weight: normal;}
.t-size-s{font-size: 10px;}
.t-size-t{font-size: 15px;}
.t-size-m{font-size: 20px;}
.t-size-5{font-size: 25px;}
.t-size-4{font-size: 30px;}
.t-font-fam-m{font-family: var(--font-family-main);}
.t-font-fam-s{font-family: var(--font-family-sec);}
.t-font-fam-n{font-family: none;}

/*/========== Display ============/*/
.d-flex{display: flex;}
.d-flex-c{
    display: flex;
    flex-direction: column;
}
.d-flex-r{
    display: flex;
    flex-direction: row;
}
.d-flx-wrap{flex-wrap: wrap;}
.d-flx-nwrap{flex-wrap: nowrap;}
.flex-1{flex: 1;}
.flex-a{flex:auto}
.d-grid{display: grid;}
.cntnt-c{justify-content: center;}
.cntnt-sb{justify-content: space-between;}
.cntnt-sa{justify-content: space-around;}
.cntnt-fs{justify-content: flex-start}
.cntnt-se{justify-content: space-evenly;}
.algn-i-c{align-items: center;}
.algn-i-fs{align-items: flex-start;}

/*/========== Element Spacing ============/*/
.p-10{padding: 10px;}
.p-20{padding: 20px;}
.mar-10{margin: 10px;}
.mar-20{margin: 20px;}
.gap-3{gap: 3px;}
.gap-5{gap: 5px;}
.gap-10{gap: 10px;}
.gap-20{gap: 20px;}
.margn-0{margin: 0;}
.margn-10{margin: 10px;}

/*/========== Width & Height ============/*/
.w-100{width: 100%;}
.w-fc{width: fit-content;}
.h-100{height: 100%;}
.height-fc{height: fit-content;}

/*/========== Positions ============/*/
.postion-r{position: relative;}
.postion-a{position: absolute;}

/*/========== Others ============/*/
.cursor-p{cursor: pointer;}
.bx-shadow-m{box-shadow: var(--box-shadow-main);}
.bx-shadow-s{box-shadow: var(--box-shadow-sec);}
.brdr-r-m{border-radius: 10px}
.brdr-r-s{border-radius: 20px}

/*/========== Overflows ============/*/
.flow-h{overflow: hidden;}
.scroll-y{
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--main-clr-2) #ee0c0c00;
}
.scroll-x{
  overflow: hidden;
  overflow-x: auto;
  max-width: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--main-clr-2) #ee0c0c00;
}
.scrol-bar-w-0{scrollbar-width: none;}

/*===================================================================================
  ------------------ POS Overlay
  ==================================================================================*/
/*POS Side Message*/
#sideMessage{
  display: none;
  z-index: 10000;
  right: 0px;
  top: 22px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  box-shadow: var(--box-shadow-sec);
  cursor: pointer;
}
.overlay-container{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
/*/------------- Error Message In-line  ----------------/*/
.overlay-container .err-message{
    font-size: 15px;
    padding-left: 23px;
    color: red;
    padding-top: 10px;
}
/* ------------------------- Overlay  -------------------------*/ 
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.overlay-container .overlay-content,
.overlay-container .overlay-content .content-body-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 10%);
}
.overlay-container .overlay-content .content-body{
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--bg-clr-1);
    position: relative;
    height: 88%;;
    border-radius: 10px;
    box-shadow: var(--box-shadow-sec);
    animation: bounce 1s;
    overflow: hidden;
    padding: 10px;
}
.content-body .form-wrap{
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.content-body .form-title{
  position: absolute;
  top: 9px;
  left: 19px;
  font-size: 25px;
}
.content-body .form-data{
  flex: 1;
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.content-body .form-data .content-wrapper{
  flex: 1;
  width: 100%;
}
.inputNumbers .numKey,
.inputNumbers .dNumber {
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: var(--box-shadow-sec);
  flex: 1;
}

/*--------- from Inputs ------------*/
.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    position: relative;
}

.inputGroup .input{
  opacity: 1;
  outline: none;
  border: 1px solid var(--main-clr-1);
  border-radius: 10px;
  background-color: inherit;
  width: 100%;
  padding: 13px 18px;
  font-size: 0.8em;
  color: var(--t-clr-1);
  -webkit-appearance: none;
}
.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0 0.4em;
  color: var(--t-clr-1);
  background-color: var(--bg-clr-1);
  z-index: 1;
}

.inputGroup .block-entry {
    width:100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
}
@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}
@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
/*=================================================================================
  ------------------ Nav Bar
==================================================================================*/

.appNavBar{
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #00000000;
    z-index: 500;
    transition: all 0.5s ease-in;
}
.appNavBar.nav-active {
  left: 0;
}
.nav-bar-wrapper{
    width: 20%;
}
#navigationBarMenueClose{
    top: 11px;
    right: 12px;
    z-index: 1;
}
#navigationBarMenueClose span{
    z-index: 1;
}
#appNavBar a{
  /* color: inherit; */
}
/*==============================================================*/
/*======================== Media Qury ==========================*/
@media (max-width: 767px) {
.nav-bar-wrapper{
    width: 80%;
}
}
  /* Medium */
@media (max-width: 1190px) {
.nav-bar-wrapper{
    width: 80%;
}
}
/*=================================================================================
  ------------------ Loader
==================================================================================*/
/* From Uiverse.io by mobinkakei */ 
#wifi-loader {
  --background: #62abff;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--main-clr-1);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--main-clr-1);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
 




/*==================================================================================*/
/*============================= Ul Select List style ===============================*/
/*==================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

.ul-select-wrapper{
    cursor: pointer;
}
.ul-select-wrapper .dropdown-list {
    position: absolute;
    display: none;
    top: 90%;
    left: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0.25rem;
    background-color:var(--bg-clr-1);
    box-shadow: var(--shadow-large);
    transition: all var(--main-transition);
}
.ul-select-wrapper .dropdown-list.open {
    display: block;
}
.ul-select-wrapper .dropdown-list .dropdown-menu-search {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;;
    height: auto;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    color: var(--t-clr-1);
    background-clip: padding-box;
    background-color:var(--bg-clr-1) !important;
}

.ul-select-wrapper .dropdown-list .ul-dropdown-inner{
    max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ul-select-wrapper .dropdown-list ul.ul-dropdown-inner {
    padding: 0;
    margin: 0;
    background-color:var(--bg-clr-1);
    scrollbar-width: none;
}
.ul-select-wrapper .dropdown-list ul.ul-dropdown-inner li{
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    padding: 0.65rem 1.25rem;
    transition: all var(--main-transition);
}

.ul-select-wrapper .dropdown-list ul.ul-dropdown-inner  li:hover {
    color: var(--color-black);
    background-color: var(--color-greys);
}

.ul-select-wrapper .dropdown-list ul.ul-dropdown-inner  li.li-is-select{
    color: var(--color-white);
    background-color: var(--color-blues);
}



/* Theme Switch */
/* The switch - the box around the slider */
.toggle-wrapper{
  position: absolute;
  top: 7px;
  left: 11px;
}
.toggle-wrapper .toggle {
  background-color: var(--bg-clr-1);;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  /* box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1); */
  line-height: 1;
}

.toggle-wrapper .toggle .input {
  display: none;
}

.toggle-wrapper .toggle .icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
  line-height: 0.1;
}

.toggle-wrapper .toggle .icon--moon {
  transition-delay: 200ms;
}

.toggle-wrapper .toggle .icon--sun {
  transform: scale(0);
}

.toggle-wrapper .toggle #switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

.toggle-wrapper .toggle #switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}



/*==================================================================================*/
/*============================= Date Picker Style ==================================*/
/*==================================================================================*/
.calendar-main {
    position: relative;
}
.calendar-main .calendar-drop-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color:var(--bg-clr-1);
    color: var(--t-clr-1);
    padding: 12px;
    border-radius: 6px;
    /* width: 450px; */
    width: 100%;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--main-clr-1);
    border-radius: 10px;
}
.calendar-main .calendar-drop-main .calendar-drop-text {
    font-size: 16px;
    line-height: 26px;
    color: var(--t-clr-1);
}
.calendar-main .calendar-wrapper {
    display: none;
    background: var(--bg-clr-2);
    width: 100%;
    border-radius: 10px;
    position: relative;
    /* margin-top: 10px; */
}
.calendar-main .calendar-wrapper.show-calender {
    display: block;
    position: absolute;
    top: -10px;
    box-shadow: var(--box-shadow-sec);
    z-index: 2;
}
.calendar-main .calendar-wrapper .calendar-header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main {
    display: flex;
    align-items: center;
    gap: 10px;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select {
    background-color: transparent;
    color: var(--main-clr-1);
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    border: 0;
    outline: none;
    position: relative;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background: var(--bg-clr-1);
    border-radius: 4px;
    z-index: 9;
    width: 150px;
    height: calc(100% + 280px);
    overflow: auto;
    padding: 5px;
    border: 1px solid var(--main-clr-1);
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap.show-dropdown {
    display: block;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap::-webkit-scrollbar {
    width: 4px;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap .calendar-select-list {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--t-clr-1);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap .calendar-select-list:hover,
.calendar-main .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap .calendar-select-list.active {
    color:var(--bg-clr-1);
    background-color: var(--main-clr-1);
}
.calendar-main .calendar-wrapper .calendar-header .icons {
    display: flex;
    align-items: center;
    gap: 5px;
}
.calendar-main .calendar-wrapper .calendar-header .icons span {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
.calendar-main .calendar-wrapper .calendar-header .icons span svg {
    stroke: var(--main-clr-1);
}
.calendar-main .calendar-wrapper .calendar-header .icons span:hover {
    background: var(--bg-clr-1);
}
.calendar-main .calendar-wrapper .calendar {
    padding: 20px;
}
.calendar-main .calendar-wrapper .calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar-main .calendar-wrapper .calendar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: calc(100% / 7);
    color: var(--t-clr-1);
}
.calendar-main .calendar-wrapper .calendar .weeks li {
    text-transform: capitalize;
    color: var(--main-clr-1);
}
.calendar-main .calendar-wrapper .calendar .days li {
    z-index: 1;
    cursor: pointer;
}
.calendar-main .calendar-wrapper .calendar .days li::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.calendar-main .calendar-wrapper .calendar .days li.active {
    color: var(--bg-clr-1);
}
.calendar-main .calendar-wrapper .calendar .days li.active::before {
    background: var(--main-clr-1);
    color: var(--t-clr-1);
}
.calendar-main .calendar-wrapper .calendar .days li:hover::before {
   background: var(--main-clr-1);
}
.calendar-main .calendar-wrapper .calendar .days li.inactive {
    color: #919191;
}