/* Hide Footer */
:root{
    --ut-header-background-color: #1f1d1ded;;
}
.t-Footer{
    display: none;
}
/* Change Header Color */
.t-Header-branding{
    background-color: var(--ut-header-background-color)
}
.t-Header{
    display: none;
}